body {
background-color: black;
height: 120vh;
background-image: linear-gradient(black, purple);
color: white;
font-family: Tahoma, Verdana, sans-serif;;
font-size: 20px;
}

.menu {
position: absolute;
width: 360px;
left: 50%;
transform: translate( -50%);
}

.polozka {

border: 2px solid white;
max-width: 350px;
line-height: 0.2;
font-size: 30px;
text-align: center;
margin: 5px auto;
border-radius: 2em;
cursor: pointer;
}

.modra {
color: rgb(105,155,255);
}

.zluta {
color: yellow;
}

a {
cursor: pointer;
}


.firefly {
position: absolute;
width: 100px;
height: 100px;
background-color: yellow;
}

.light {
position: absolute;
background-color: rgb(255,255,255);
height: 1px;
width: 100%;
bottom: 0%;
box-shadow: 0 0 40px 20px white;
}

.polozka:hover {
background-color: rgb(255,255,255,0.1);
box-shadow: 0 0 80px 1px white;
}

{}